*{
    padding: 0;
    margin: 0;
    font-family:Helvetica;
}
body{
    max-width: 1000px;
    margin: auto;
    background-color: black;
}
header{
    background-color:#ecceab ;
    font-family:Helvetica;
    text-align: center;
    font-size: 26px;
    text-align: center;
    padding: 60px;
    padding-bottom: 40px;

}
.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;

}
.menuitens {
    display: inline;
    float: left;
    color: white;
    text-align: center;
    padding:10px 10px;
    text-decoration: none;
    margin-left: 20px;
}
.menuitens:hover{
    background-color: #ecceab;
    border: solid;
    border-color:  #302e2e48;
    border-radius: 15px;
    opacity: 0.8;
    padding: 7px;
    margin: 0px;
    margin-left: 20px;
   
}
#sobre{
    background-color:#ecceab;
    border-color: #000000;
    padding: 10px;
    border: solid;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px;
    float: right;
}
.menu{
     list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border: solid;
    border-top: none;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 1000px;
}
.titulo{
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    border-top: 0px;

}

#subtitulo{
    font-size: 20px;
    letter-spacing: 2px;
}
.fotocasal{ 
    max-width: 1000px;
    height: 300px;
    overflow: hidden;
    background-image: url('./images/fotoinicio.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;


}
.historias{
    position: static;
    background-color: #ecceab;
    max-width: 1000px; 
    padding: 20px;
    border-style: solid;
    border-bottom: 2px;
}
.historias h3{
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}
.noivo{
    
    border: solid;
    border-radius: 10px;
    width: 700px;
    background-color: #fffefea6;
    margin-right: 25%;
    margin-left: auto;
    margin-top: 30px;
}
#fotonoivo{
    width: 160px;
    height: 201px;
    float: left;
    border-radius: 6px;
}
.htrnoivo{
    display: inline-block;
    max-width: 70%;
    height: 160px;
    text-align: left; 
    padding: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
 
}
.noiva{
    border: solid;
    border-radius: 10px;
    width: 700px;
    background-color: #fffefea6;
    margin-left: 25%;
    margin-top: 30px;

    
}
#fotonoiva{
    width: 160px;
    height: 201px;
    float: right;
    border-radius: 6px;
}
.htrnoiva{
    display: inline-block;
    max-width: 70%;
    height: 160px;
    text-align: left; 
    padding: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
}
.casal {
    border: solid;
    border-radius: 10px;
    max-width: 600px;
    background-color: #fffefea6;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 50px;
}
.htrcasal{
    text-align:center;
    padding: 10px;
}
footer{
    background-color:white;
    padding: 20px;
    height: 50px;
    border: solid;
}
.rodape{
    height: 15px;
    font-size: 20px;
    list-style-type:  none;
    float:left;
    text-align: left;
    margin-left: 15px;
    border-style: solid;
    border-width:0px 2px 0px 0px;
    padding: 10px;
}
.linkRodape{
    color: black;
    text-decoration: none;

}
.linkRodape:hover{
background-color:#fff4e6;
border: solid 0;
border-radius: 10px; 
}

@media screen and (max-width:1000px){
    
    
    footer {
        box-sizing: border-box;
        margin: auto;
        height: 100%;
        width: 100%;
        display: inline-block;
    }
    .rodape {
        margin: auto;
        height: auto;
        width: auto;
    }
    .menu {
        box-sizing: border-box;
        margin: auto;
        width: 100%;
        display: inline-block;
    }
    .menuitens {
        margin: auto;
        height: auto;
        width: auto;
    }
    .historias {
        margin: auto;
        height: auto;
        width: auto;
    }
    .noiva{
        margin-left: auto;
        width: 70%;
    }
    .noivo{
        margin-right: auto;
        width: 70%;
      
    }

}

.topnav {
    overflow: hidden;
    background-color: white;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    border-bottom: solid;
    border-width: 2px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;

  }
  .topnav a:hover {
    background-color: #ecceab;
    border: solid;
    border-width: 0px;
    border-radius: 10px;
  }
  
  .topnav a.active {
    background-color: #946846;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 660px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 660px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: relative;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  @media screen and (max-width: 600px) {
    .noivo{
        margin: center;
        width: 100%;

    }
    #fotonoivo{
        float: none;
        margin-left: 26%;
        margin-right: 26%;
    }
    .htrnoivo{
        margin: center;
        max-width: 100%;

    }
    .noiva{
        margin: center;
        width: 100%;

    }
    #fotonoiva{
        float: none;
        margin-left: 26%;
        margin-right: 26%;
    }
    .htrnoiva{
        margin: center;
        max-width: 100%;
    }
    .casal{
        margin: center;
        width: 100%;
    }
    .htrcasal{
        margin: center;
        max-width: 100%;
    }
    .historias h3{
        text-align: center;
    }
    .rodape{
        float: none;
        display: inline-block;
        font-size: 18px;
        padding: 2px;
        padding-left: 10px;
        padding-right: 10px;
        border: none;
    }

  }