*{
    padding: 0;
    margin: 0;
    font-family:Helvetica;
}
body{
    max-width: 1000px;
    margin: auto;
    background-color: black;
}
header{
    background-color:#ecceab ;
    font-family:Helvetica;
    text-align: center;
    font-size: 24px;
    text-align: center;
    padding: 60px;
    padding-bottom: 40px;

}
main {
    background-color: #ecceab;
    max-width: 1000px;
    height: 100%;
    padding: 20px;
    margin: auto;
}
#form1{
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;    
}
.formulario {
    background-color: #fffefea6;
    border: solid;
    border-radius: 10px;
    border-color: #b18e72;
    padding: 10px;
    margin-bottom: 10PX;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}
.formulario p {
    float: left;
    padding-right:30px ;
}
input {
    margin-left: 5px;
    margin-right: 40px;
    border:solid 0px;
    border-radius: 10px;
    background-color:#F6E7D6;
    padding: 5px;
}
input[type=text] {
    width: 97%;
}
input[type=tel] {
    width: 97%;
}
input[type=number] {
    width: 40px;
}
input[type=name] {
    width: 97%;
}
input[type=email] {
    width: 97%;
}
#submit {
    width: 33%;
    margin-left: 33%;
    margin-right: 33%;
    margin-bottom: 40px;

    
}
#submit:hover {
    background-color: #ffffff;
    font-weight: bold;
}
.obs {
    background-color: yellow;
    display: inline;
    padding: 5px;
    border: solid;
    border-width: 0px;
    display: inline-block;
    border-radius: 10px;
}
footer{
    background-color:white;
    padding: 20px;
    height: 50px;
}
.rodape{
    height: 15px;
    font-size: 20px;
    list-style-type:  none;
    float:left;
    text-align: left;
    margin-left: 15px;
    border-style: solid;
    border-width:0px 2px 0px 0px;
    padding: 10px;
}
.linkRodape{
    color: black;
    text-decoration: none;

}
.linkRodape:hover{
background-color:#fff4e6;
border: solid 0;
border-radius: 10px; 
}
@media screen and (max-width:1000px){
    
    
    footer {
        box-sizing: border-box;
        margin: auto;
        height: 100%;
        width: 100%;
        display: inline-block;
    }
    .rodape {
        margin: auto;
        height: auto;
        width: auto;
    }
    .menu {
        box-sizing: border-box;
        margin: auto;
        width: 100%;
        display: inline-block;
    }
    .menuitens {
        margin: auto;
        height: auto;
        width: auto;
    }
}.topnav {
    overflow: hidden;
    background-color: white;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;

  }
  
  .topnav a:hover {
    background-color: #ecceab;
    border: solid;
    border-width: 0px;
    border-radius: 10px;
  }
  
  .topnav a.active {
    background-color: #946846;
    color: white;
    border: solid;
    border-width: 0px;
    border-radius: 10px;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 660px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 660px) {
    .topnav.responsive {position: fixed;}
    .topnav.responsive .icon {
      position: relative;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .rodape{
        float: none;
        display: inline-block;
        font-size: 18px;
        padding: 2px;
        padding-left: 10px;
        padding-right: 10px;
        border: none;
    }
  }