*{
    padding: 0;
    margin: 0;
}

body{
    max-width: 1000px;
    margin: auto;
    background-color: black;
}
header{
    background-color:#ecceab ;
    font-family:Helvetica;
    text-align: center;
    font-size: 26px;
    text-align: center;
    padding: 40px;
}
.iconeTitulo{
    width: 40px;
}
#login{
    
    max-width: 1000px;
    background-image: url('./images/FotoLogin.jpg');
    background-size: cover ;
    padding: 0px;
    overflow: hidden;
    border-color: #000000;

}
.card{
    max-width: 230px;
    height: 400px;
    background-color: #beb09c90;;
    background-size: cover ;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5% ;
    border-color: #b18e72;
    float:right;
    text-align: center;
    

}
.entrar{
    margin-top:60%;
    margin-bottom:60%;
    
}
.entrar h2, p{
    margin-bottom: 25px;
}
label,input{
    margin-bottom: 20px;
    padding: 10px;
    width:100%;
    box-sizing: border-box;
    border:none;
    }
input{
    border-style: solid;
    margin-top:5px ;
    border-radius: 10px;
    border-width: 2px;
    border-color: #b18e72;
    background-color: #beb09c90;
}
.card-header{
    margin-bottom: 20px;
}

.card-footer :hover{
    background-color: white;
    margin-top:5px ;
    border-radius: 10px;
    padding: 8px;
    box-sizing: border-box;
    max-width: 230px;


}

.submit{
    background-color:#EFE3D9;
    font-weight: bold;
}
.loginDireto{
    text-decoration: none;
    padding: 10px;
    margin: 10px;

}
footer{
    background-color:white;
    padding: 20px;
    height: 50px;
}
.rodape{
    height: 15px;
    font-size: 20px;
    list-style-type:  none;
    float:left;
    text-align: left;
    margin-left: 15px;
    border-style: solid;
    border-width:0px 2px 0px 0px;
    padding: 10px;
}
.linkRodape{
    color: black;
    text-decoration: none;

}
.linkRodape:hover{
background-color:#fff4e6;
border: solid 0;
border-radius: 10px; 
}

@media screen and (max-width:1000px){
    
    
    footer {
        box-sizing: border-box;
        margin: auto;
        height: 100%;
        width: 100%;
        display: inline-block;
    }
    .rodape {
        margin: auto;
        height: auto;
        width: auto;
    }
    .card{
        margin: auto;
        width: auto;
    }
}
@media screen and (max-width:580px){
    

    .card{
        float: none;
        border-width: 2px;
        border-radius: 5%
    }
    .rodape{
        float: none;
        display: inline-block;
        font-size: 18px;
        padding: 2px;
        padding-left: 10px;
        padding-right: 10px;
        border: none;
    }
    
}